:root {
    --red: #d00000;
    --yellow: #ffd500;
    --green: #003e1f;
    --eggshell: #e0e1dd;
    --lightblue: #778da9;
    --mediumblue: #415a77;
    --darkblue: #0d1b2a;
    --black: #181818;
    --white: #ffffff;
    --grey: #cecece;
  } 

  body{
    margin:0;
    font-size:1rem;
    line-height:1.5;
    color:var(--black);
    text-align:left;
    background-color: var(--white);
    /*background-image: url("../assets/pattern.png");*/
    background-repeat: repeat;
    font-family: Arial;
    font-weight: normal;
    box-sizing: content-box;

    font-family: 'Roboto', sans-serif;
  }
  
  pre {
    font-family: Arial;
    margin: auto;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 100%;
    min-height: 2em;
    line-height: 120%;
    display: inline-block;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  p {
    margin: 0;
    font-size: 1em;
  }
  h1 {
    font-size: 2.5em;
    margin: auto;
  }
  
  h2 {
    font-size: 2em;
    margin: auto;
  }
  
  h3 {
    font-size: 1.75em;
    margin: 0;
  }
  
  h4 {
    font-size: 1.5em;
    margin: auto;
  }
  
  h5 {
    font-size: 1.25em;
    margin: auto;
  }
  
  .profile {
    width: 20em;
    max-width: 100% !important;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 1em;
    margin: auto;
  }

  .image {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    display: inline-block;
    margin: auto;
    object-fit: cover;
    height: 20em;
    box-sizing: inherit;
  }
  
  /* Table design */
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
  th, td {
  padding: 15px;
  text-align: right !important;
  }
  
  /* Chat boks */
  .chat_modul_right {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid #ced4da;
  }
  
  .card{
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color: var(--eggshell);
    background-clip:border-box;
    margin-bottom: 25%;
    border-radius: 1em;
    /*
    border: 2px solid var(--grey);
    border-radius: 0.25rem;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem;*/
  }
  
  .card-header{
    padding:.75rem 1.25rem;
    margin-bottom:0;
    background-color:var(--grey);
    border-bottom:1px solid rgba(0,0,0,.125);
    border-top: 0.2em solid var(--grey);
    border-bottom: 0.2em solid var(--grey);
    text-align: center;
    font-size: 0.8em;
    font-weight:200;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
  }
  
  .content {
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
  }

  .container{
    padding-top: 5em !important;
    width: -webkit-fill-available;
    margin-right:auto;
    margin-left:auto;
  }
  
  @media (min-width:576px){
    .container{
        max-width:540px;
    }
  }
  @media (min-width:768px){
    .container{
        max-width:720px;
    }
  }
  @media (min-width:992px){
    .container{
        max-width:960px;
    }
  }
  @media (min-width:1200px){
    .container{
        max-width:1140px;
    }
  }
  
  .card-body{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;padding:1.25rem}
 
  .btn{cursor: pointer; display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}.btn:focus,.btn:hover{text-decoration:none}.btn.focus,.btn:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}
  
  .form-control:disabled,.form-control[readonly]{background-color:#e9ecef;opacity:1;box-sizing: border-box;}
  
  .alert{position:relative;padding:.75rem 1.25rem;margin-bottom:1rem;border:1px solid transparent;border-radius:0.5em}
  .alert-success{color:var(--green);background-color:#d4edda;border-color:#c3e6cb}
  .alert-info{color:var(--black);background-color:var(--lightblue);border-color:var(--mediumblue)}
  .alert-danger{color:var(--red);background-color:#f8d7da;border-color:#f5c6cb}
  
  .navbar {
    background-color: var(--eggshell);
    overflow: hidden;
    top: 0;
    width: 100%;
    position: relative;
    padding: 0em;
    display: block;
    text-align: center;
    z-index: 9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }
  
  .nav-item {
    float: left;
    display: none;
    color: var(--black);
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 1em;
    margin: auto;
    height: 2em;
    line-height: 2em;
  }
  
  .nav-item.enabled {
    display: block;
  }
  
  .nav-item.disabled {
    display: none;
  }
  
  .nav-title {
    float: left;
    display: inline-block;
    color: var(--black);
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 1em;
    margin: auto;
    height: 2em;
    line-height: 2em;
    max-width: 10em;
  }
  
  .nav-item:hover, .nav-title:hover{
    background-color: var(--eggshell);
    color: var(--black);
    text-decoration: none;
  }
  
  .nav-item:active {
    background-color: var(--lightblue);
    color: var(--black);
  }
  
  .nav-icon {
    display: none;
    margin: 0;
    padding: 0.5em;
    height: 4em;
    position: fixed;
    top: 0;
    float: right;
    right: 0;
  }
  
  .nav-logo {
    display: block;
    margin: auto;
    padding: 0em;
    height: 4em;
    float: left;
    box-sizing: border-box;
    position: relative;
  }
  
  .box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
    max-width: 100%;
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    margin: auto;
  }
  
.module{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 2em 0;
}

.action-block {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 1em;
}

form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 1em 0;
}

input[type=text], input[type=password], input[type=email], input[type=date], input[type=file], input[type=number], select {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  height: 3em;
  padding: 0.5em;
  margin: 1em;
  border-radius: 0.5em;
  border: solid 0.1em var(--eggshell); 
  box-shadow: 0.1em 0.2em 0.5em rgba(0,0,0,.09); 
  background: var(--white); 
  box-sizing: border-box;
}

select {
  height: 10em;
  overflow-y: scroll;
}

.btn-block {
  margin-top: 1em;
  text-align: center;
}
button {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 0.75em 0;
  margin: 1em;
  border-radius: 5px; 
  border: none;
  background: var(--lightblue); 
  font-size: 1em;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

button:hover {
  background: var(--mediumblue);
}

button:disabled {
  cursor:default;
  opacity: 0.5;
}

.groups, .wishlists, .wishes {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.group, .wishlist, .wish {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 0.5em;
  border: 0.2em solid var(--eggshell);
  margin: 1em 1em;
  border-radius: 1em;
  background-color: var(--mediumblue);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.wishlist:hover, .wish:hover, .group:hover {
  background-color: var(--lightblue);
  transition: 1s;
}

.clickable {
  cursor: pointer;
}
.clickable:hover{
  opacity: 0.5;
}

.group-title, .wishlist-title, .wish-title {
  max-width: 50%;
  margin: 0.5em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.wish-title, .group-title, .wishlist-title {
  margin: 0 !important;
  padding: 0.5em 0 !important;
}

.wish, .group, .wishlist {
  margin: 0 !important;
  border: none;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  width: auto;
  max-width: 50%;
}
 .profile-name {
  max-width: 75%;
  margin: 0 0.5em;
 }

.profile-icon {
  margin: 0 0.5em;
  border-radius: 100%;
  border: 0.15em solid white;
  width: 2em;
  height: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.icon-img {
  margin: auto;
}

.color-invert {
  filter: invert(100%);
}

.wish-wrapper, .group-wrapper, .wishlist-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 1em 1em;
  border: 0.2em solid var(--eggshell);
  border-radius: 1em;
  background-color: var(--lightblue);
  transition: 2s;
}

.wish-note, .group-members {
  display: none;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 0;
  margin: 0.5em;
  border-radius: 0 0 1em 1em;
  transition: 2s;
}

.group-member {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;;
  align-items: center;
  align-content: center;
  border-radius: 1em;
}

.group-member:hover {
  background-color: var(--mediumblue);
  transition: 1s;
}

.wish-input, .group-input, .wishlist-input {
  display: none;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 5em 1em 1em 1em;
}

.group-input, .wishlist-input {
  display: inline-block !important;
}

.text-body{
  text-align: center;
  margin: 0.5em 1em;
}

.text-date{
  text-align: center;
  margin: 0;
  text-align: end;
  font-size: 0.75em;
}

.title{
  font-weight: 200;
  font-size: 1.25em;
  text-align: center;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 65em) {
  .nav-item.enabled {
      display: none !important;
  }
  .nav-title {
      text-align: center;
      margin: auto;
      float: none;
  }
  .nav-icon {
      float: right;
      display: block;
  }
  .nav-bar {
      position: relative !important;
  }
  .nav-logo{
      position: fixed;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 65em) {
.navbar.responsive {position: fixed !important;}
.navbar.responsive .nav-icon {
  position: fixed !important;
  right: 0;
  top: 0;
}
.navbar.responsive .nav-item.enabled {
  float: none;
  display: block !important;
  text-align: left;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}
.navbar {
  position: fixed;
}
.nav-logo.responsive {
  position: fixed;
}
}

.transparent {
  opacity: 0.5;
}

.wishlist-info, .group-info {
  border-radius: 1em;
  padding: 1em;
  margin: 0 1em 2em 1em;
  background-color: var(--mediumblue);
  border: 0.2em solid var(--eggshell);
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}


hr {
  border: 0.025em solid var(--eggshell);
  background-color: var(--eggshell);
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  opacity: 0.5;
  border-radius: 1em;
}

.divider {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.news-post {
  margin: 2em 0;
  padding: 0.5em;
  background-color: var(--white);
  border-radius: 1em;
}

.news, .seasons, .goals {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.exercises {
  width: auto;
  max-width: 100%;
  margin: 1em;
  border: solid 1px var(--blue);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 0.5em;
  width: 20em;
  max-width: 100%;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
}

.week_info {
  background-color: var(--blue);
  width: -webkit-fill-available;
  text-align: center;
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.25em;
}

.week_days {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-radius: 0.5em;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  box-sizing: border-box;
  border: solid 1px var(--blue); 
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.day-check {
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 5em;
  max-width: 100%;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
}

.day-note {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  max-width: 70%;
}

.form-control{
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  height: 4em !important;
  padding: 0.5em !important;
}

.form-control-small{
  width: 2.5em;
}

.btn_logo {
  width: 1em;
  height: 1em;
  margin: 0;
  padding: 0 0.5em 0 0;
}

/* Start of fireworks */
.pyro {
  display: none;
  position: fixed;
  top: 0;
  height: 50%;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  margin-top: 5em;
  pointer-events: none;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-moz-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-o-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-ms-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } 
}
/* End of fireworks */

.small-button-icon {
  width: 1.5em;
  height: 1.5em;
  margin: 0;
  padding: 0 0.12em;
  cursor: pointer;
}

.two-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;;
  align-items: center;
  align-content: center;
}

/*
input[type=number]
{
  -moz-appearance: textfield;
  -webkit-appearance: none;
  text-align: center;
  width: auto;
  font-size: 1em;
  height: 3em;
  padding: 0;
  margin: 0;
}
*/

input[type=checkbox]
{
  margin: 1em;
}

.modules {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;;
  align-items: flex-start;
  align-content: center;
}

.season, .current-week, .server-info, .invites, .debt-module, .prize-module, .add-season-module {
  width: auto;
  max-width: 100%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 0.5em;
  width: 20em;
  height: auto;
  padding: 1em;
  max-height: 50em;
  max-width: 100%;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
  background-color: var(--white);
  border-radius: 0.5em;
  box-sizing: border-box;
  text-align: center;
}

.add-season-module {
  max-height: 50em !important;
}

.leaderboard {
  width: auto;
  margin: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 20em;
  height: auto;
  max-width: 100%;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
  background-color: var(--white);
  border-radius: 0.5em;
}

.module-two{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0;
}

.leaderboard-weeks {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  height: auto;
  max-height: 58em;
  overflow-y: auto;
  margin-bottom: 1em;
}

.leaderboard-week {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 0.5em;
  border: solid 0.2em var(--lightblue);
  border-radius: 0.5em;
  margin: 0.25em;
}

.leaderboard-week-number {
  box-sizing: border-box;
  width: 33%;
}

.leaderboard-week-results {
  box-sizing: border-box;
  width: 66%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.leaderboard-week-result {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0.5em;
}

.current-week-users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  height: auto;
  overflow-y: auto;
  margin-top: 0.5em;
}

.current-week-user {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  width: auto;
  height: auto;
  overflow-y: auto;
  border-radius: 0.5em;
  padding: 0.25em;
  margin: 0.25em;
}

.current-week-user:hover {
  background-color: rgba(119, 141, 169, 0.25);
  transition: 1s;
}

.current-week-user-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  width: auto;
  height: auto;
  overflow-y: auto;
}

.current-week-user-completion {
  margin: 0.25em;
}

.number-box {
  text-align: center;
  margin: 0.25em;
  font-size: 1.25em;
  background-color: var(--eggshell);
  padding: 0.5em;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.season-object, .goal-object {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  background-color: var(--white);
  border-radius: 1em;
}

.season-object-wrapper, .goal-object-wrapper {
  background-color: var(--white);
  border-radius: 1em;
  border: solid 0.2em var(--lightblue); 
  margin: 1em 0;
}

.season-title, .season-body, .season-date, .goal-exercise, .goal-compete, .goal-join-date, .goal-exercises {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.season-title {
  font-size: 1.25em;
  text-decoration: underline;
}

.leaderboard-week-two, .exercise-object {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 0.5em;
  border: solid 0.2em var(--lightblue);
  border-radius: 0.5em;
  margin: 0.5em;
}

.invitation-object {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  border: solid 0.2em var(--lightblue);
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
}

.invite-list {
  overflow-y: scroll;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default !important;
}

.noninteractive {
  pointer-events: none !important;
}

.canvas-buttons, .spinner-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.spinner-info {
  margin: 1em;
  font-size: 1.2em;
}

#unspun-wheel {
  text-align: center;
}

.debt-module-notifications {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  height: auto;
  max-height: 23em;
  overflow-y: auto;
}

.debt-module-notification-view, .debt-module-notification-prize, .debt-module-notification-debt {
  border: solid 0.2em var(--lightblue);
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
}

.debt-module-notification-debt {
  border: solid 0.2em var(--red) !important;
  background-color: var(--eggshell) !important;
}

.countdown_number {
  font-family: 'Monaco';
}

.debt-form {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.current-week-user-photo, .leaderboard-week-member-image {
  border-radius: 10em;
  margin: auto;
  width: 3em;
  height: 3em;
  border: solid 0.2em var(--lightblue);
  background-color: var(--white);
  cursor: pointer;
}

.current-week-user-photo-img, .user-active-profile-photo-img, .leaderboard-week-member-image-img, .achievement-img {
  border-radius: 10em;
  object-fit: cover;
  overflow: hidden;
  background-image: var(--white);
  box-sizing: border-box;
}

.user-active-profile-photo {
  border-radius: 10em;
  margin: auto;
  width: 10em;
  height: 10em;
  max-width: 100%;
  max-height: 100%;
  border: solid 0.2em var(--lightblue);
  background-color: var(--white);
}

.leaderboard-week-members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  height: auto;
  max-height: 30em;
  margin: 0 1em 1em 1em;
}

.leaderboard-week-member {
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  cursor: pointer;
}

.leaderboard-week-member:hover {
  background-color: rgba(119, 141, 169, 0.25);
  transition: 1s;
}

.leaderboard-week-members-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.season-statistics-element-wrapper-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.season-statistics-element {
  border-radius: 10em;
  margin: 0.5em;
  background-color: rgba(119, 141, 169, 0.5);
  padding: 0.5em 1em;
}

.season-statistics-element:hover {
  background-color: rgba(119, 141, 169, 0.25);
  transition: 1s;
}

.goal-leaderboard {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.exercise-details {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0.5em;
  margin-top: 1em;
}

.exercise-date {
  box-sizing: border-box;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.exercise-exercise-number, .exercise-notes {
  margin: 0.5em 1em;
}

.achievement-image {
  border-radius: 10em;
  margin: 0;
  width: 7em;
  height: 7em;
  border: solid 0.2em var(--lightblue);
  background-color: var(--white);
}

.achievements-box {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.achievement {
  margin: 0.5em;
  width: 10em;
  max-height: 15em;
  min-height: 12em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: rgba(119, 141, 169, 0.25);
  transition: 1s;
  cursor: pointer;
}

.achievement-title {
  margin: 0.25em;
  font-size: 0.85em;
  text-align: center;
}

.achievement-date {
  font-size: 0.60em;
  text-align: center;
  margin: 0.25em;
  font-style: italic;
}

.achievement-description {
  font-size: 0.70em;
  text-align: center;
  margin: 0.25em;
  height: 0;
  overflow: hidden;
  transition: 1s;
}

.achievement:focus .achievement-description {
  height: auto;
}